<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <profile>
        <properties>
          <add name="AddressInfo" type="UserAddress" serializeAs="Binary"/>
          <add name="TotalPost" type="Integer"/>
        </properties>
      </profile>
    </system.web>
</configuration>
