<configuration>
  <appSettings>
    <!-- Which provider? -->
    <!-- <add key="provider" value="System.Data.OleDb" />-->
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>

  <!-- Here are the connection strings -->
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=(local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=(local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
  </connectionStrings>
  
</configuration>
